
<section id="ProductSection">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-4">
                <div class="cd-filter-block">
                    <h4>Category</h4>
                    <ul class="cd-filter-content cd-filters list">
                        <li>
                            <input class="filter" data-filter="All" type="radio" name="radioButton" id="radio1" checked>
                            <label class="radio-label" for="radio1">All</label>
                        </li>
                        <li>
                            <input class="filter" data-filter="Boy" type="radio" name="radioButton" id="radio2">
                            <label class="radio-label" for="radio2">Boy</label>
                        </li>
                        <li>
                            <input class="filter" data-filter="Girl" type="radio" name="radioButton" id="radio3">
                            <label class="radio-label" for="radio3">Girl</label>
                        </li>
                        <li>
                            <input class="filter" data-filter="Other-" type="radio" name="radioButton" id="radio4" disabled>
                            <label class="radio-label" for="radio4">Other Product</label>
                        </li>
                    </ul> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->
                <div class="cd-filter-block">
                    <h4>Filter Results</h4>

                    <div class="cd-filter-content">
                        <input type="search" placeholder="Search Amazon.com">
                    </div> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->
                <div class="cd-filter-block">
                    <h4>Categories</h4>
                    <ul class="cd-filter-content cd-filters list">
                        <li>
                            <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                            <label class="checkbox-label" for="checkbox1">iPhone</label>
                        </li>
                        <li>
                            <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                            <label class="checkbox-label" for="checkbox2">iPad</label>
                        </li>
                        <li>
                            <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">Apple TV</label>
                        </li>
                        <li>
                            <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">Macbook</label>
                        </li>
                        <li>
                            <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">Macbook Air</label>
                        </li>
                        <li>
                            <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">Macbook Pro</label>
                        </li>
                        <li>
                            <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">Apple Accessories</label>
                        </li>
                    </ul> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->
            </div>
            <div class="col-lg-8">
                <div class="section-title text-center col mb-30">
                    <h1>Popular Products</h1>
                    <p>All popular product find here</p>
                </div>

                <div class="col-lg-4 Product Boy">
                    <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-5.jpg);  background-repeat: no-repeat;
                background-size: 100% 100%;">

                    </div>
                    <h4>Product 1</h4>
                    <div class="Start">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button class="AddtoCartbtn">Add to Card</button>
                </div>
                <div class="col-lg-4 Product Girl">
                    <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-6.jpg)">

                    </div>
                    <h4>Product 2</h4>
                    <div class="Start">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button class="AddtoCartbtn">Add to Card</button>
                </div>
                <div class="col-lg-4 Product Boy">
                    <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-7.jpg)">

                    </div>
                    <h4>Product 3</h4>
                    <div class="Start">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button class="AddtoCartbtn">Add to Card</button>
                </div>
                <div class="col-lg-4 Product Girl">
                    <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-1.jpg)">

                    </div>
                    <h4>Product 4</h4>
                    <div class="Start">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button class="AddtoCartbtn">Add to Card</button>
                </div>
                <div class="col-lg-4 Product Boy">
                    <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-2.jpg)">

                    </div>
                    <h4>Product 5</h4>
                    <div class="Start">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button class="AddtoCartbtn">Add to Card</button>
                </div>
                <div class="col-lg-4 Product Other">
                    <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-4.jpg)">

                    </div>
                    <h4>Product 6</h4>
                    <div class="Start">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button class="AddtoCartbtn">Add to Card</button>
                </div>
            </div>
        </div>
    </div>
</section>