@{
    ViewBag.Title = "Home Page";
}
<section id="Banner">
    <div class="row banner">
        <div class="col-md-12">
            <div class="Bannertext" style="display:block">
                <h2>New Arrivals</h2>
                <p>
                    Up to 35% off<br />
                    2 - 5 Years
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">SHOP NOW &raquo;</a></p>
            </div>
        </div>
    </div>
</section>
<section id="Category">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-8">
                <div class="col-lg-6 CategoryBanner">
                    <div class="CategoryImg">
                        <div class="content bg-theme-one">
                            <h1>New Toy’s for your Baby</h1>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 CategoryBanner">
                    <div class="CategoryImg">
                        <div class="content bg-theme-one">
                            <h1>New Toy’s for your Baby</h1>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 CategoryBanner">
                    <div class="CategoryImg">
                        <div class="content bg-theme-one">
                            <h1>New Toy’s for your Baby</h1>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 CategoryBanner">
                    <div class="CategoryImg">
                        <div class="content bg-theme-one">
                            <h1>New Toy’s for your Baby</h1>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="OfferBanner">
                    <div class="OfferImg">

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="spliter"></div>
@Html.Partial("_PolularProducts")
<section>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 text-center">
                <br /><br />
                <a href="/product" class="AddtoCartbtn" style="text-decoration:none">View All Product</a>
                <br /><br />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title text-center col mb-30">
                <h1>On Sale Products</h1>
                <p>All featured product find here</p>
            </div>

            <div class="col-lg-4 Productnonfilter">
                <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-5.jpg);  background-repeat: no-repeat;
                background-size: 100% 100%;">

                </div>
                <h4>Product 1</h4>
                <div class="Start">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <button class="AddtoCartbtn">Add to Card</button>
            </div>
            <div class="col-lg-4 Productnonfilter ">
                <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-6.jpg)">

                </div>
                <h4>Product 2</h4>
                <div class="Start">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <button class="AddtoCartbtn">Add to Card</button>
            </div>
            <div class="col-lg-4 Productnonfilter">
                <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-7.jpg)">

                </div>
                <h4>Product 3</h4>
                <div class="Start">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <button class="AddtoCartbtn">Add to Card</button>
            </div>
            <div class="col-lg-4 Productnonfilter">
                <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-1.jpg)">

                </div>
                <h4>Product 4</h4>
                <div class="Start">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <button class="AddtoCartbtn">Add to Card</button>
            </div>
            <div class="col-lg-4 Productnonfilter">
                <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-2.jpg)">

                </div>
                <h4>Product 5</h4>
                <div class="Start">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <button class="AddtoCartbtn">Add to Card</button>
            </div>
            <div class="col-lg-4 Productnonfilter">
                <div class="ProductImg" style="background-image:url(http://demo.devitems.com/jadusona-v2/assets/images/product/product-4.jpg)">

                </div>
                <h4>Product 6</h4>
                <div class="Start">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <button class="AddtoCartbtn">Add to Card</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-12" style="margin-left:0px;margin-right:0px;background-color:#03A9F4;text-align:center;color:#fff;vertical-align:middle;height: 51px;">
            <h2>Store Location</h2>
        </div>
    </div>
</section>
<section id="StoreLocator">

    <div style="margin-left:0px;margin-right:0px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.5660596784796!2d72.82710851442536!3d19.126683655348756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6200b17d035%3A0x24a3d1062c1e26f5!2skaustubh+Bagwe+Software+Consultant+%26+Website+Developer!5e0!3m2!1sen!2sin!4v1548258796451" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="col-lg-4 storelocator">
            <h3 class="leftbordertheame"> Store Location</h3>
            <address>
                C2 /906 , Madhuvan ,
                <br />
                Near D N Nagar Road,
                Andheri West <br />
                Mumbai - 400053
            </address>
        </div>
    </div>

    </div>
</section>
<section id="AdditionalInfo">
    <div class="row">
        <div class="col-md-12 ">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'ProductBrand')">Product Brand</button>
                <button class="tablinks" onclick="openCity(event, 'ProductQuality')">Product Quality</button>
                <button class="tablinks" onclick="openCity(event, 'ProductDelivery')">Product Delivery</button>
                <button class="tablinks" onclick="openCity(event, 'TranactionSecurity')">Secure Payment</button>
            </div>

            <div id="ProductBrand" class="tabcontent">
                <center>
                    <h3>Product Brand</h3>
                </center>
                <p>London is the capital city of England.</p>
            </div>

            <div id="ProductQuality" class="tabcontent">
                <center>
                    <h3>Product Quality</h3>
                </center>
                <p>Paris is the capital of France.</p>
            </div>

            <div id="ProductDelivery" class="tabcontent">
                <center>
                    <h3>Product Delivery</h3>
                </center>
                <p>Tokyo is the capital of Japan.</p>
            </div>
            <div id="TranactionSecurity" class="tabcontent">
                <center>
                    <h3>Secure Payment</h3>
                </center>
                <p>Tokyo is the capital of Japan.</p>
            </div>
        </div>
    </div>
</section>